.global-header-1 {
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-size: 42px;
}
.global-header-2 {
  font-family: Work Sans;
  font-weight: 600;
  line-height: normal;
  font-size: 22px;
}
.global-body {
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.4;
  font-size: 16px;
}