:root {
  --global-black-1: #000000;
  --global-gray-1: #aaaaaa;
  --global-gray-2: #c5c5c5;
  --global-light-primary-1: #98fb98;
  --global-light-primary-2: #206bdb;
  --global-dark-primary-1: #ff5823;
  --global-dark-primary-2: #276196;
}